@import "tailwindcss";

@theme {
    --color-primary-bright: #e0e1dd;
    --color-primary-light: #778da9;
    --color-secondary-light: #415a77;
    --color-secondary-dark: #1b263b;
    --color-primary-dark: #0d1b2a;
    --color-transparent-primary: rgba(247, 247, 255, 0.05);
}

body {
    margin: 0;
    padding: 0;
}